.rc-slider-track {
    background-color: #3498DB;
  }
  
  .rc-slider-dot-active {  
    border-color:#3498DB;
    border: solid 2px #3498DB;
  }
  
  .rc-slider-handle {
    border-color: #3498DB;
  }
  
  .rc-slider-handle:hover {
    border-color: #3498DB;
  }
  
  .rc-slider-handle-active:active {
    border-color: #3498DB;
  }